{% extends 'base.html' %}
{% load static %}

{% block title %}
    Item Sumber Daya
{% endblock title %}

{% block content %}

<div class="container justify-content-center align-items-center">
    <h1 class="list_title">Item Sumber Daya</h1>
    <!-- <h2 class="message">{{message}}</h2> -->
                
    <div class="row justify-content-center">
        <a href="" class="mybutton" role="button" style="margin-bottom: 30px;">Create Item Sumber Daya</a>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">Kode</th>
                    <th scope="col">Supplier</th>
                    <th scope="col">Nama Item</th>
                    <th scope="col">Harga Satuan</th>
                    <th scope="col">Berat Satuan (Kg)</th>
                    <th scope="col">Tipe Item</th>
                </tr>
            </thead>
            <tbody>
            {%for row in hasil %}
                <tr class="table-striped">
                <td>{{row.kode}}</td>
                <td>{{row.username_supplier}}</td>
                <td>{{row.nama}}</td>
                <td>{{row.harga_satuan}}</td>
                <td>{{row.berat_satuan}}</td>
                <td>{{row.kode_tipe_item}}</td>
                <td>
                   <p><a href="{% url 'deleteItemSumberDaya' row.kode %}" class="mybutton butred" role="button">Delete</a> </p>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table> 
    </div>
</div>
{% endblock content %}