{% extends 'base.html' %}
{% load static %}

{% block title %}
    Permohonan Sumber Daya
{% endblock title %}

{% block content %}
<div class="container justify-content-center align-items-center">
    <h1 class="list_title">Pesanan Sumber Daya</h1>
      <div class="row justify-content-center">
         <table class="table table-hover table-striped">
            <thead>
            </thead>
            <tbody>

         </table>

      </div>

</div>


{% block content %}

