{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  
  <!-- Material Design Lite -->
 

  <!-- Tailwind -->
 
  <!-- Base CSS -->
 

  {% block meta %}
  {% endblock meta %}
</head>

<body>
</body>
  {% block content %}
  {% endblock content %}
</html>