

<!doctype html>
{% extends 'base.html' %}


    <head>
        <style>
        .button {
          background-color: #39A2DB;
          border: 5px;
          border-radius: 25px;
          color: white;
          padding: 10px 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 18px;
          font-family: sans-serif;
          margin: 4px 4px;
          cursor: pointer;
        }
        .home {
            font-family: Arial, Helvetica, sans-serif;
            background-color: #E8F0F2;
        }
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #39A2DB;
            color: white;
            text-align: center;
            font-size: 18px;
        }
        </style>
    </head>
    
    {% block title %}
    <title>Home</title>
    {% endblock %}


{% block content %}
<body class="home">
  <div class="container-fluid header">
        <div class="container" style="background-color: #A2DBFA; border-radius: 10px; padding: 15px;">
            <h1 class="welcome" style="color: #053742; text-align: center;">SELAMAT DATANG DI <b>SIDIA</b></h1>
            <a style="color: #053742;">Profil Saya</a>
        </div>
    </div>
    
    <div class="container justify-content-center" style="border: 5px; border-radius: 15px; padding: 10px; background-color: #fff;">
        <h2 style="color: #77ACF1;">Pilih Tabel :</h2>
                        <div>
                            <button type="button" class="button">Permohonan Sumber Daya</button>
                        </div>
                    </a>
            <div class="col">
                        <div>
                            <button type="button" class="button">Riwayat Status Permohonan Sumber Daya</button>
                        </div>
                    </a>
            </div>
            <div class="col">
                <div>
                    
                        <div>
                            
                            <button type="button" class="button">Item Sumber Daya</button>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div>
                        <div>
                            <button type="button" class="button">Pesanan Sumber Daya</button>
                        </div>
                    </a>
                </div>
            </div>
        <div class="row">
            <div class="col">
                <div>
                        <div>
                            <button type="button" class="button">Status Pesanan Sumber Daya</button>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div>
                        <div>
                            <button type="button" class="button">Stock Fasilitas Kesehatan</button>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div>
                        <div>
                            <button type="button" class="button">Kendaraan</button>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div>
                        <div>
                            <button type="button" class="button">Lokasi</button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <p><b>Kelompok 7 Basis Data - A</b></p>
    </div>

  </body>
  {% endblock %}